<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Snapchat Menu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9FC2DE241C425AF100F0CB8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FC2DE3B1C425AF100F0CB8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FC2DE461C425AF100F0CB8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
