<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SpotifyVideoBackground.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9FD983891C4A39AC009F4018</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FD9839D1C4A39AC009F4018</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FD983A81C4A39AC009F4018</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
