<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PlayLocalVideo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9F98C0641C416397000B0D2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F98C07B1C416397000B0D2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F98C0861C416398000B0D2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
