<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AnimatedSplash.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9F5E2F221C4FCE68003B68A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F5E2F361C4FCE68003B68A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F5E2F411C4FCE68003B68A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
