<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TabbarApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9F3A5CC21C634A6A00198488</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F3A5CD61C634A6A00198488</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F3A5CE11C634A6A00198488</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
